body {
  font-size: 18px;
}

.mainHeading {
  text-align: center;
}

.task {
  margin: 30px auto;
  border: 1px solid black;
  width: 1200px;
  padding-bottom: 50px;
}

.task__space {
  margin: 0 0 50px 0;
}

.task__description {
  text-align: center;
  margin-bottom: 20px;
}

.task__hints {
  text-align: center;
  margin: 5px 0 5px;
}

.task__input {
  height: 30px;
  margin: 100px 100px 100px 0;
}

.task__keys {
  width: 1200px;
  margin: auto;
  text-align: center;
}

.task__answer {
  display: inline;
  margin-right: 100px;
}

.task__asnwer-zone {
  display: flex;
  flex-direction: column;
}

.button {
  width: 120px;
  height: 36px;
  margin-right: 10px;
}

.calcul__btn-stl {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 5px;
  font-weight: bold;
}

.calcul__buttons-extra {
  width: 180px;
  border: 1px solid blue;
  font-size: 16px;
  margin: 20px 0 20px 0;
  font-weight: bold;
}

.calcul__values {
  width: 300px;
  margin: 100px;
  height: 30px;
  font-size: 15px;
}

.calcul__result {
  margin: 10px;
  font-size: large;
  font-weight: bold;
}

#_spanAnswerTask1 {
  font-weight: bold;
}
