.page {
  border: 1px solid black;
  width: 1200px;
  margin: auto;
  padding: 20px;
}

.page__header {
  border: 1px solid black;
  text-align: center;
  font-size: 40px;
}

.analyzer {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
}

.analyzer__box {
  text-align: center;
}

.analyzer__header {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 30px;
}

.analyzer__text {
  width: 450px;
  height: 200px;
  font-size: 14px;
}

.analyzer__hint {
  font-size: 18px;
}

.analyzer__value {
  font-size: 24px;
}

.analyzer__value_bold {
  font-weight: bold;
}
